<div class="container">

  <div class="wrapper">

    <div class="top-section">
      <h2>Create new Password</h2>
      <p>Your new password must be different from previous used passwords</p>
    </div>

    <form [formGroup]="form">

      <div class="form-group">

        <mat-form-field appearance="standard" [color]="'primary'">
          <mat-label>New Password</mat-label>
          <input matInput placeholder="New Password" [formControlName]="'password'"
                 [type]="showPassword ? 'text': 'password'">
          <button mat-icon-button matSuffix
                  [color]="(form.get('password').touched) && form.get('password').hasError('required') ? 'warn': 'primary'">
            <mat-icon
              (click)="showPassword = !showPassword">{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>

          <mat-error *ngIf="(form.get('password').touched) && (form.get('password').hasError('minlength') || form.get('password').hasError('required'))">
            <mat-icon>cancel</mat-icon>
            <span>must be at least 8 characters</span>
          </mat-error>

          <mat-error *ngIf="(form.get('password').touched) && form.get('password').hasError('nolowercase')">
            <mat-icon>cancel</mat-icon>
            <span>lowercase letter is required</span>
          </mat-error>

          <mat-error *ngIf="(form.get('password').touched) && form.get('password').hasError('nouppercase')">
            <mat-icon>cancel</mat-icon>
            <span>uppercase letter is required</span>
          </mat-error>

          <mat-error *ngIf="(form.get('password').touched) && form.get('password').hasError('nodigit')">
            <mat-icon>cancel</mat-icon>
            <span>digit is required</span>
          </mat-error>

          <mat-error *ngIf="(form.get('password').touched) && form.get('password').hasError('nospecialchar')">
            <mat-icon>cancel</mat-icon>
            <span>special character is required</span>
          </mat-error>
        </mat-form-field>

      </div>

      <div class="form-group">

        <mat-form-field appearance="standard" [color]="'primary'">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="Confirm Password" [formControlName]="'confirmpassword'" type="password">
          <mat-error *ngIf="(form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('required')">
            <mat-icon>cancel</mat-icon>
            <span>password is required</span>
          </mat-error>
          <mat-error *ngIf="(form.get('confirmpassword').touched) && form.get('confirmpassword').hasError('notsame')">
            <mat-icon>cancel</mat-icon>
            <span>both passwords must match</span>
          </mat-error>
        </mat-form-field>

      </div>

      <button type="submit" mat-flat-button [color]="'primary'" [disabled]="form.invalid"m>Reset Password</button>

    </form>


  </div>

</div>
